:root {
    --text-heder: #757575;
    --secondary-color: #2F303A;
    --accent-color:#2196F3;
    --text-color: #212121;
    --bg-color: #FFF; 
    --link-color: #000; 
    --svg-color:#AFB1B8;  
    --hover-color:#F5F4FA ;
    --border-color: rgba(255, 255, 255, 0.60); 
  }
  .container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }
  html{
    scroll-behavior: smooth;
  }
  body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400px;
    padding: 0 15px;
  }
  .logo{
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    letter-spacing: 0.78px;
    font-weight: 700;
    color: var(--link-color);
  }
  .logo-nav{
    color: var(--accent-color);
  }
  .logo-footer{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    letter-spacing: 0.78px;
    font-weight: 700;
    color:var(--bg-color);
  }
  .logo-span{
     color: var(--accent-color);
  }
  .navigavion-link{
    position: relative;
    letter-spacing: 0.28px;
    font-weight: 500;
    color: var(--text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
  }
  .navigavion-link.current{
    color: var(--accent-color);
  }
  .navigavion-link.current::after{
    content: "";
    display: block;
    width: 100%;
    height: 4px;  
    border-radius:2px;     
    position: absolute;
    left: 0;
    bottom: -35px;  
    background-color:var(--accent-color);
  }
  .navigavion-link.current:hover::after{
    opacity: 1;
  }
  .navigavion-link:focus,
  .navigavion-link:hover{
    color: var(--accent-color);
  }
  .contakts-link{
    display: flex;
    align-items: center;
    font-weight: 500;
    letter-spacing: 0.28px;
    color: var(--text-heder);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contakts-icon{
    margin: 10px;
    fill: var(--text-heder);
  }
  .contakts-link:hover .contakts-icon{
    fill: var(--accent-color);
  }
  .contakts .contakts-link:hover{
    color: var(--accent-color);
  }
  .post{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-image:linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url(../img/bg.jpg);
    background-color: var(--secondary-color);
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .post-title{
    color: var(--bg-color);
   text-align: center;
   font-size: 44px;
   font-weight: 900;
   line-height: 136%;
   letter-spacing: 0.48px;
   text-transform: uppercase;
  }
  .post-button{
    font-size: 16px;
    width: 216px;
    height: 50px;
    margin-top: 30px ;
    font-weight: 700;
    line-height: 178.5%;
    letter-spacing: 0.96px;
    background-color: var(--accent-color);
    color: var(--bg-color);
    border-radius: 4px;
    border-style: solid;
    border-color: var(--accent-color);
    cursor: pointer;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }



  .title-modal{
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--text-color);
  }
  .button-icon{
    display: flex;
    justify-content: flex-end;
  }
  .box-modal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
.modal{
    border: 2px solid tan;
    border: none;
    width: 528px;
    padding: 15px;
    border-radius: 20px;
    background-color:var(--bg-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-style: none;
  border-color: var(--svg-color);
}
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
} 
.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
}
.no-scroll{
  overflow: hidden;
}
.box-icon svg{
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
.box-icon{
  position: relative;
  margin-top: 10px;
}
.post-e{
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translate(-50%);
}
.post-checkbox{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.agreement input{
  width: 16px;
  height: 15px;
  margin-top: 25px;
}
.agreement label{
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
label a{
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #2196f3;
}
.box-btn{
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
.btn-modal{
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  color: var(--bg-color);
  border-radius: 4px;
  width: 200px;
  border: none;
  cursor: pointer;
}
.post-comment{
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-bottom: 94px;
  padding-top: 12px;
  resize: none;
  width: 448px;
  
}
.post-comment::placeholder{
  padding-left: 16px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.box-icon:focus-within svg{
  fill: var(--accent-color);
}
.post-input:focus-within {
  outline-color: var(--accent-color);
}
.post-comment:focus-within{
  outline-color: var(--accent-color);
}
.btn-icon:hover{
  fill: var(--accent-color);
}

.post-input{
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  width: 406px;
  height: 40px;
}

.post-text{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--text-heder);
}

  .post-button:hover{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  }
  .main-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .portfolio-title{
    font-weight: 700;
    margin-left: 24px;
    font-size: 18px;
    line-height: 200%;
    margin-bottom: 4px;
    letter-spacing: 0.06em;
  }
  .portfolio-text{
    font-weight: 400;
    padding-left: 24px;
    padding-bottom: 20px;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.03em;
    color: var(--text-heder);
  }
  .denefits{
    padding-top: 94px;
    padding-bottom: 94px; 
  }
  .denefits-title{
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    color: var(--text-color);
  }
  
  .filter{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
  }
  .filter-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 162%;
    letter-spacing: 0.03em; 
    border-radius: 4px;
    border-style: solid;
    background-color: var(--hover-color); 
    cursor: pointer;
    border-color: var(--hover-color);
    transition-property:background-color;
    transition-property:color;
    transition-property:box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .filter-button:hover{
    background-color: var(--accent-color);
    color: var(--bg-color);
    border-radius: 4px;
    border-color: #2196F3;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
  }

  .denefits-text{
    font-size: 14px;
    font-weight: 400;
    line-height: 171.429%; 
    color: var(--text-heder);
  }
.portfolio-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.denefits-item::before{
  content: '';
  display: block;
  background-repeat: no-repeat;
  width: 100%;
  margin-bottom: 30px;
  height: 120px;
  background-size: cover;
  background-color: var(--hover-color);
  background-size: 70px;
  border-radius: 4px;
  background-position: center;
}
.denefits-item:nth-child(1)::before{
  background-image:url("../img/antenna.png");
}
.denefits-item:nth-child(2)::before{
  background-image: url("../img/clock.png");
}
.denefits-item:nth-child(3)::before{
  background-image: url("../img/diagram.png");
}
.denefits-item:nth-child(4)::before{
  background-image: url("../img/astronaut.png");
}
.portfolio-item{
  flex-basis: calc((100% - 100px) / 3);
  border: 1px solid #eee;
}

.portfolio-item:hover{
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
  .title{
    font-size: 36px;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
    font-weight: 700;
    color: var(--text-color);
  }
  .work{
    padding-bottom: 94px;
  }
  .team{
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--hover-color);
  }
  .team-wrap{
    background-color: var(--bg-color);
    border-radius: 0 0 4px 4px;
  }
  .team-name{
    font-size: 16px;
    letter-spacing: 0.48px;
    padding-top: 30px;
    margin-top: -3px;
    text-align: center;
    font-weight: 500;
    color: var(--text-color);
  }
  .team-item{
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    background-color: var(--bg-color);
    border-radius: 0 0 4px 4px;
  }
  .team-position{
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    padding-bottom: 16px;
    text-align: center;
    letter-spacing: 0.48px;
    color: var(--text-heder);
  }
  .team-links{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
  }
  .team-social{
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--svg-color);
    transition-property: fill;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 50%;
    width: 44px;
    height: 44px;
  }
  .team-social:hover{
    fill:var(--hover-color);
    background-color: var(--accent-color);
    border-radius: 50%;


  }
  .team-icon{
    width: 20px;
    height: 20px;
  }
  .address-name{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.42px;
    line-height: 24px;
    color: var(--bg-color);
  }
  .footer{
    background-color: var(--secondary-color);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .address-link{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.42px;
    color: var(--border-color);
  }

  .header{
    padding-top: 24px;
    padding-bottom: 25px;
  }

  .portfolio{
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .navigation-list{
    display: flex;
  }
  .navigation-item{
    margin-right: 50px;
  }
  .contakts{
    display: flex;
  }
  .contakts-item{
    margin-left: 50px;
  }
  .header-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navigation{
    display: flex;
    align-items: center;
  }
  .logo{
    margin-right: 93px;
  }
  .denefits-list{
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.42px;
  }
  .denefits-item{
    width: 270px;
  }
  .work-list{
    display: flex;
    justify-content: space-between;
  }
  .work-item{
    width: 370px;
  }
  .work-text{
    padding-top:27px;
    padding-bottom: 27px;
    position: relative;
    bottom: 74px;
    font-weight: 700;
    background: rgba(47, 48, 58, 0.8);
    font-size: 14px;
    color: var(--bg-color);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;

  }
  .team-list{
    display: flex;
    justify-content: space-between;
  }
  .team-img{
    width: 270px;
  }
  .address{
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .address-link{
    margin-top: 10px;
  }
  .address-name{
    margin-top: 20px;
  }
  .title{
    text-align: center;
  }
  /* client */
  .client-list{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding-bottom: 94px;
  }
  
  .client-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    fill: var(--svg-color);
    border: 2px solid var(--svg-color);
    border-radius: 4px;
    transition-property: fill;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .client-icon{
    width: 106px;
    height: 60px;
  }
  .client-title{
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    padding-top: 94px;
    padding-bottom: 50px;
    text-align: center;
   
  }
 .client-link:hover{
    fill: var(--accent-color);
    border-color: var(--accent-color);
  }
  /* social */
  .social-list{
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-top: 20px;
    gap: 10px;
  }
  .footer-wrap{
    display: flex;
  }
  .social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 44px;
    width: 44px;
    background-color:rgba(255, 255, 255, 0.1); ;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-svg{
    width: 20px;
    height: 20px;
    fill: var(--hover-color);
  }
  .social-text{
    color: var(--hover-color);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .social{
    margin-left: 70px;
  }
  .social-link:hover{
    background-color: var(--accent-color);
  }
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.9;
    background-color: #3f51b5;
    transform: translatey(100%);
    transition: transform 250ms ease-in-out;
  }
  .box {
    position: relative;
    width: 370px;
    height: 292px;
    margin: 0 auto;
    overflow: hidden;
  }
  .portfolio-item:hover .overlay {
    transform: translatey(0);
    background-color: var(--accent-color);
  }
  .overlay p {
    margin-left: 24px;
    margin-top: 63px;
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.03em;
    color: var(--bg-color);
    align-items: center;
  }
  /* subscribe */
  .subscribe-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 12px;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: var(--accent-color);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--bg-color);
    fill: var(--bg-color);
    border: none;
  }
  .subscribe-btn svg{
    margin-left: 10px;
  }
  .subscribe-input{
    color: var(--bg-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    width: 358px;
    height: 50px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: rgba(33, 150, 243, 0);
  }
  .subscribe-text{
    margin-left: 93px;
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--bg-color);
  }
  .subscribe-item{
    margin-left: 93px;
  }
  .subscribe-input::placeholder{
    padding-left: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .subscribe-input:focus-within{
    outline-color: var(--accent-color);
  }