:root {
    --text-heder: #757575;
    --secondary-color: #2F303A;
    --accent-color:#2196F3;
    --text-color: #212121;
    --bg-color: #FFF; 
    --link-color: #000; 
    --hover-color:#F5F4FA ;
    --border-color: color: rgba(255, 255, 255, 0.60);; 
  }
  .container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }
  body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400px;
    padding: 0 15px;
  }
  .logo{
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    letter-spacing: 0.78px;
    font-weight: 700;
  }
  .navigavion-link{
    letter-spacing: 0.28px;
    font-weight: 500;
    color: var(--text-color);
  }
  .navigavion-link:hover,
  .navigavion-link:focus{
    color: var(--accent-color);
  }
  .contakts-link{
    font-weight: 500;
    letter-spacing: 0.28px;
    color: var(--text-heder);
  }
  .contakts-link:hover,
  .contakts-link:focus{
    color: var(--accent-color);
  }
  .post{
    background-color: var(--secondary-color);
  }
  .post-title{
    color: var(--bg-color);
   text-align: center;
   font-size: 44px;
   font-weight: 900;
   line-height: 136%;
   letter-spacing: 0.48px;
   text-transform: uppercase;
  }
  .post-button{
    font-size: 16px;
    font-weight: 700;
    line-height: 178.5%;
    letter-spacing: 0.96px;
    background-color: var(--accent-color);
    color: var(--bg-color);
    cursor: pointer;
  }
  .denefits-list{
    letter-spacing: 0.42px;
  }
  .denefits-title{
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    color: var(--text-color);
  }
  .denefits-text{
    font-size: 14px;
    font-weight: 400;
    line-height: 171.429%; 
    color: var(--text-heder);
  }
  .title{
    font-size: 36px;
    letter-spacing: 1.08px;
    font-weight: 700;
    color: var(--text-color);
  }
  .team-name{
    font-size: 16px;
    letter-spacing: 0.48px;
    font-weight: 500;
    color: var(--text-color);
  }
  .team-position{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
    color: var(--text-heder);
  }
  .address-name{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.42px;
    line-height: 24px;
    color: var(--bg-color);
  }
  .footer{
    background-color: var(--secondary-color);
  }
  .address-link{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.42px;
    color: var(--border-color);
  }