:root {
    --main-color: #757575;
    --secondary-color: #2F303A;
    --accent-color:#2196F3;
    --text-color: #212121;
    --bg-color: #FFF; 
    --link-color: #000; 
    --hover-color:#F5F4FA ;
    --border-color: color: rgba(255, 255, 255, 0.60);; 
  }
  